
.main-two {
    display: grid;
    grid-template-columns: minmax(50px, 270px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "aside header" "aside section" "aside footer";
    height: 100dvh;
}

.main-two > .header{
    grid-area: header;
    background-color: blueviolet;
    border: 1px solid black;
}

.main-two > .aside{
    grid-area: aside;
    background-color: blueviolet;
    border: 1px solid black;
}

.main-two > .section{
    grid-area: section;
    background-color: blueviolet;
    border: 1px solid black;
}

.main-two > .footer{
    grid-area: footer;
    background-color: blueviolet;
    border: 1px solid black;
}
